<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DataContext" providerName="System.Data.SqlClient" connectionString="data source=localhost;initial catalog=atlana;persist security info=True;user id=atlana_user;password=troyes1128!" />
  </connectionStrings>
	<appSettings>
		<add key="Name" value="Atlana"/>
	  <add key="UseAutoRestart" value="False"/>
	  <add key="ImportCommands" value="True"/>
	  <add key="Version" value="0.1.0.0"/>
	  <add key="CopyrightOwner" value="Daniel Krainas"/>
	  <add key="CopyrightDate" value="2009"/>
		<add key="Port" value="4000"/>
		<add key="MaxBacklogSize" value="5"/>
	  <add key="AreaDirectory" value=".\areas"/>
		<add key="HelpDirectory" value=".\help"/>
    <add key="SystemDirectory" value=".\system"/>
	  <add key="PluginDirectory" value=".\plugins"/>
	  <add key="PlayersDirectory" value=".\player"/>
    <add key="CommandsFile" value="commands.xml"/>
	  <add key="CreationFile" value="creation.xml"/>
 	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
